*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: url(assets/hGLSFz.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    max-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 65%;
    margin: 0 auto;
    padding: 2em;
}

.intro {
    text-align: center;
}

.customize {
    text-align: center;
}

.choice {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.customize--sub_title {
    margin: 5rem auto;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#mesures {
    width: 50%;
}

.symbol {
    border: 1px black solid;
    border-radius: 50%;
    padding: .5rem .75rem;
    font-weight: 700;
    background-color: rgb(243, 223, 42);
    width: 40px;
    height: 40px;
}

.customize--title {
    padding-left: .5rem;
    font-size: 1.4rem;
    white-space: nowrap;
}

.required::before {
    content:"*";
    color: red;
}

.fa-times {
    color: rgb(196, 25, 20);
    padding-left: .5rem;
}

.fa-check {
    padding-left: .5rem;
    color:rgb(29, 175, 0);
}

#legend {
    color: #06c;
    text-transform: uppercase;
    font-weight: bold;
}

.customize--structure_field {
    margin: 6rem auto;
}

.field--title {
    margin: 6rem auto 2rem auto;
}

[class*="checkbox"] {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding: .5rem .5rem;
    cursor: pointer;
}

[class*="checkbox"]:hover {
    border-bottom: rgb(29, 175, 0) 1px solid;
}

.checkbox1 {
    margin-top: 0;
}

.checkbox5 {
    margin: 3rem auto 6rem auto;
    text-align: center;
    padding: .8em auto;
    width: 150px;
}

.green {
    background-color: rgb(29, 175, 0);
    color: #FFF;
}

#item-carousel {
    width: 600px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#plain, #stripe {
    cursor: pointer;
}

.carousel__track {
    list-style-type: none;
    margin: 0 auto;
}

.carousel__track:first-child {
    padding-left: 0;
}

.carousel {
    width: 78%;
    margin: 0 auto;
}

.carousel__button {
    font-size: 2rem;
    cursor: pointer;
}

.carousel__track {
    padding-left: 20px;
}

.carousel__slide {
    margin-bottom: 1rem;
}

/* Style the buttons inside the tab */
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}
  
.tabset .tab-panel {
    display: none;
}
  
.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}
  
.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}
  
.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}
  
.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}
  
.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}
  
.tab-panel {
    padding: 30px 20px;
    border-top: 1px solid #ccc;
}

.tab-panel p {
    line-height: 1.5;
}
  
.submit {
    display: flex;
    margin: 8rem auto 6rem auto;
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.label-field {
    margin: 2rem auto;
}

.form--label::before {
    content: "\f069";
    color: red;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: .5rem;
}

.form--input {
    margin-top: .8rem;
    width: 100%;
}

.form--input:hover,
.form--input:focus {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);
    transition: 200ms ease-in;
}

.btn {
    margin: 3rem auto;
    padding: 0;
    float: right;
}

.checking-form--submit {
    border: none;
    border-radius: 12px;
    background-color: orange;
    color: #FFF;
    width: 166px;
    height: 54px;
    font-family: var(--font);
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover .checking-form--submit {
    background-color:rgb(29, 175, 0);
}

@media (max-width: 800px) {
    main {
        display: flex;
        padding: 1em;
        width: 80%;
    }

    .customize--title {
        font-size: 1.15em;
        text-align: left;
        white-space: pre-line;
    }

    .carousel {
        width: 90%;
        margin: 0 auto;
    }

    .tabset {
        display: flex;
        flex-direction: column;
    }

    .submit {
        width: 80%;
    }

    .form--input {
        width: 100%;
    }
}

@media (max-width: 375px) {
    main {
        padding: .2rem;
        width: 95%;
    }

    .customize--title {
        font-size: 1.05em;
        padding-left: .5rem;
    }

    #mesures {
        width: 80%;
    }

    .carousel {
        width: 100%;
        margin: 0 auto;
    }

    .tabset {
        display: flex;
        flex-direction: column;
    }

    .submit {
        width: 90%;
    }

    .form--input {
        width: 100%;
    }
}